.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 70%;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 25px;
    cursor: pointer;
   
}
.img{
    margin-left: 5%;
    display: flex;
    width: 50px;
    padding: 0;
    cursor: pointer;

}
.items{
    width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 20px;
}
.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family:"Madimi One", sans-serif;
    cursor: pointer;
}
.rowChild{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    width: 100px;
}

@media only screen and (min-width: 500px) and (max-width: 650px){

.mainDiv{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}
.rowChild{
   padding-left: 0;
}

}

@media only screen and (max-width: 500px){

  .row{
    justify-content: center;
  }
  .rowChild{
    margin-left: 10px;
  }
    }