.heading{
    font-family:"Madimi One", sans-serif;

}
.description{
    font-family:"Madimi One", sans-serif;

}

.subHeadingText{
    font-family:"Madimi One", sans-serif;

}
.subheading{
    font-family:"Madimi One", sans-serif;

}